#cloud-config - The goal of this file is to translate 1-1 what the original kick-start file did into a Cloud-Init "boot-and-configure"
# This can be adjusted in case of cloud-image change

# Allow password authentication over SSH
ssh_pwauth: true

# 1. System Settings
timezone: America/Chicago
locale: en_US.UTF-8
fqdn: aap26.home.lab

# 2. Package Management
package_update: true
package_upgrade: true
packages:
  - tar
  - python3
  - python3-pip
  - curl
  - wget
  - vim
  - git-core
  - rsync
  - firewalld

# 3. User Configuration
users:
  - default
  - name: jumedina
    gecos: Juan Medina
    groups: wheel
    passwd: $y$j9T$uTyZl9Ls5Kl8mXMqzGWuQ4no$UPtj4Cy1HrSakHasXBsd5spgAHIKKKjxG5ObSJFGSo2
    lock_passwd: false
    sudo: ALL=(ALL) NOPASSWD:ALL
    # If you don't already have an SSH key pair on your Linux server, run:
    # ssh-keygen -t ed25519
    # Then, print your public key to the terminal and copy the entire output:
    # cat ~/.ssh/id_ed25519.pub
    # Paste your public key here: -> this is necessary for it to work
    ssh_authorized_keys:
      - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAiO4NwgdYM+oELalU092c9T9AYjTg+P7PKQOyVFW/Uz alexd@server.home.lab"

chpasswd:
  list: |
    root:$y$j9T$QckUVoFdkuzwz3HChJFDvXJT$Vp9qCe62hA2aZ9DsOiUu2NigwjgjcI.GF/uHtjCtjw3
  expire: false

# 4. Post-Installation Commands
runcmd:
  - mkdir -p /opt/aap-installer
  - systemctl enable --now firewalld
  - firewall-cmd --permanent --add-service=ssh
  - firewall-cmd --permanent --add-service=http
  - firewall-cmd --permanent --add-service=https
  - firewall-cmd --reload
